.main{
  margin: 0;
  padding: 0;
  display: flex;
  height:540px;
}
.inputDiv{
  display: flex;
  flex-direction: column;
  width:30%;
  align-items: center;
  margin: auto;
}
.listDiv{
  width:70%;
  background-color: rgb(62, 117, 102);
}
.heading{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width:100%;
  display: flex;justify-content: center;
}
.form{
  width:300px;
  height:200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(62, 117, 102);
  border-radius:30px;
}
.form input{
  height:30px;
  width:80%;
  background-color: rgb(133, 196, 179);
  border:2px solid black;
  border-radius:10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form button{
  margin-top:10%;
  height:40px;
  width:50%;
  border-radius:40px;
  border:2px solid black;
}
.listDiv{
  display: flex;
  justify-content: space-between;
}
.todo , .completed{
  border-radius:10px;
  border:2px solid black;
  width:48%;
  margin:1%;
  display: flex;
  flex-direction: column;
}
.todo>h2,.completed>h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:white;
  color:darkslategray;
  height:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:25px;
}
ul{
  list-style: none;
}
.list{
  width:90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  margin: 5px auto;
  border-radius: 10px;
  border: 3px solid darkslategray;
}

.list p {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  flex-grow: 1;
}

.list button {
  /* margin-left: 10px; */
  border-radius: 15px;
  border: 1px solid darkslategray;
  background-color: rgb(133, 196, 179);
  padding: 10px 10px;
}
